---
import {projects} from '../site.config.ts';
---
<!-- list of projects -->
<section aria-label="Experience" class="mt-16">
    <h2 class="title mb-4 text-xl">Projects</h2>
    <div class="flex-column">
        <!-- 2 sections per row -->
        <div class="flex flex-wrap">
            <!-- Loop through projects -->
            {projects.map((project) => {
                return (
                    <div class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 p-4" >
                        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                            <img class="w-full h-56 object-cover object-center" alt={project.title} />
                            <div class="p-4">
                                <h3 class="title mb-2 text-xl">{project.title}</h3>
                                <p class="text-gray-500 text-base">{project.description}</p>
                                <div class="flex mt-4">
                                    <a href={project.link} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-600">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                );
            })
            }
            <!-- End of loop -->
        </div>
    </div>
</section>

  <!-- function for project -->
  